mat-card {
  margin: 2em auto;
  text-align: center;
  background-color: rgba(202, 160, 160, 0.527);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-header {
  margin: 2em auto;
  text-align: center;
  justify-content: center;
}
