.spacer {
  flex: 1 1 auto;
}

.mat-button {
  height: 40px !important;
  width: 140px !important;
  font-size: 35px !important;
}

.mat-stroked-button {
  margin: 20px;
}

.mat-raised-button {
  width: 150px;
}

.mat-toolbar {
  background-color: #c58b679c;
}
